<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>CCDA XML</h2><pre><code class="xml" style="font-size:10px;">&lt;entry typeCode=&quot;DRIV&quot;&gt;
  &lt;organizer classCode=&quot;BATTERY&quot; moodCode=&quot;EVN&quot;&gt;
    &lt;!-- ** Result organizer ** --&gt;
    &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.1&quot;/&gt;
    &lt;id root=&quot;7d5a02b0-67a4-11db-bd13-0800200c9a66&quot;/&gt;
    &lt;code code=&quot;43789009&quot; displayName=&quot;CBC WO DIFFERENTIAL&quot; codeSystem=&quot;2.16.840.1.113883.6.96&quot; codeSystemName=&quot;SNOMED CT&quot;/&gt;
    &lt;statusCode code=&quot;completed&quot;/&gt;
    &lt;component&gt;
      &lt;observation classCode=&quot;OBS&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;!-- ** Result observation ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.2&quot;/&gt;
        &lt;id root=&quot;107c2dc0-67a5-11db-bd13-0800200c9a66&quot;/&gt;
        &lt;code code=&quot;30313-1&quot; displayName=&quot;HGB&quot; codeSystem=&quot;2.16.840.1.113883.6.1&quot; codeSystemName=&quot;LOINC&quot;/&gt;
        &lt;text&gt;
          &lt;reference value=&quot;#result1&quot;/&gt;
        &lt;/text&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime value=&quot;200003231430&quot;/&gt;
        &lt;value xsi:type=&quot;PQ&quot; value=&quot;13.2&quot; unit=&quot;g/dl&quot;/&gt;
        &lt;interpretationCode code=&quot;N&quot; codeSystem=&quot;2.16.840.1.113883.5.83&quot;/&gt;
        &lt;referenceRange&gt;
          &lt;observationRange&gt;
            &lt;text&gt;M 13-18 g/dl; F 12-16 g/dl&lt;/text&gt;
          &lt;/observationRange&gt;
        &lt;/referenceRange&gt;
      &lt;/observation&gt;
    &lt;/component&gt;
    &lt;component&gt;
      &lt;observation classCode=&quot;OBS&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;!-- ** Result observation ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.2&quot;/&gt;
        &lt;id root=&quot;107c2dc0-67a5-11db-bd13-0800200c9a66&quot;/&gt;
        &lt;code code=&quot;33765-9&quot; displayName=&quot;WBC&quot; codeSystem=&quot;2.16.840.1.113883.6.1&quot; codeSystemName=&quot;LOINC&quot;/&gt;
        &lt;text&gt;
          &lt;reference value=&quot;#result2&quot;/&gt;
        &lt;/text&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime value=&quot;200003231430&quot;/&gt;
        &lt;value xsi:type=&quot;PQ&quot; value=&quot;6.7&quot; unit=&quot;10+3/ul&quot;/&gt;
        &lt;interpretationCode code=&quot;N&quot; codeSystem=&quot;2.16.840.1.113883.5.83&quot;/&gt;
        &lt;referenceRange&gt;
          &lt;observationRange&gt;
            &lt;value xsi:type=&quot;IVL_PQ&quot;&gt;
              &lt;low value=&quot;4.3&quot; unit=&quot;10+3/ul&quot;/&gt;
              &lt;high value=&quot;10.8&quot; unit=&quot;10+3/ul&quot;/&gt;
            &lt;/value&gt;
          &lt;/observationRange&gt;
        &lt;/referenceRange&gt;
      &lt;/observation&gt;
    &lt;/component&gt;
    &lt;component&gt;
      &lt;observation classCode=&quot;OBS&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;!-- ** Result observation ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.2&quot;/&gt;
        &lt;id root=&quot;107c2dc0-67a5-11db-bd13-0800200c9a66&quot;/&gt;
        &lt;code code=&quot;26515-7&quot; displayName=&quot;PLT&quot; codeSystem=&quot;2.16.840.1.113883.6.1&quot; codeSystemName=&quot;LOINC&quot;/&gt;
        &lt;text&gt;
          &lt;reference value=&quot;#result3&quot;/&gt;
        &lt;/text&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime value=&quot;200003231430&quot;/&gt;
        &lt;value xsi:type=&quot;PQ&quot; value=&quot;123&quot; unit=&quot;10+3/ul&quot;/&gt;
        &lt;interpretationCode code=&quot;L&quot; codeSystem=&quot;2.16.840.1.113883.5.83&quot;/&gt;
        &lt;referenceRange&gt;
          &lt;observationRange&gt;
            &lt;value xsi:type=&quot;IVL_PQ&quot;&gt;
              &lt;low value=&quot;150&quot; unit=&quot;10+3/ul&quot;/&gt;
              &lt;high value=&quot;350&quot; unit=&quot;10+3/ul&quot;/&gt;
            &lt;/value&gt;
          &lt;/observationRange&gt;
        &lt;/referenceRange&gt;
      &lt;/observation&gt;
    &lt;/component&gt;
  &lt;/organizer&gt;
&lt;/entry&gt;</code></pre></div><div class="col-sm-6"><h2>BB JSON</h2><pre><code class="json" style="font-size:10px;"></code></pre></div></div><% include _templates/foot %>