<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>CCDA XML</h2><pre><code class="xml" style="font-size:10px;">&lt;entry typeCode=&quot;DRIV&quot;&gt;
  &lt;encounter classCode=&quot;ENC&quot; moodCode=&quot;EVN&quot;&gt;
    &lt;!-- ** Encounter activities ** --&gt;
    &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.49&quot;/&gt;
    &lt;id root=&quot;2a620155-9d11-439e-92b3-5d9815ff4de8&quot;/&gt;
    &lt;code code=&quot;99213&quot; displayName=&quot;Office outpatient visit 15 minutes&quot; codeSystemName=&quot;CPT&quot; codeSystem=&quot;2.16.840.1.113883.6.12&quot; codeSystemVersion=&quot;4&quot;&gt;
      &lt;originalText&gt; Checkup Examination 
        &lt;reference value=&quot;#Encounter1&quot;/&gt;
      &lt;/originalText&gt;
      &lt;translation code=&quot;AMB&quot; codeSystem=&quot;2.16.840.1.113883.5.4&quot; displayName=&quot;Ambulatory&quot; codeSystemName=&quot;HL7 ActEncounterCode&quot;/&gt;
    &lt;/code&gt;
    &lt;!-- February 27, 2009 at 1:00PM EST --&gt;
    &lt;effectiveTime value=&quot;20090227130000+0500&quot;/&gt;
    &lt;performer&gt;
      &lt;assignedEntity&gt;
        &lt;!-- Provider NPI &quot;PseduoMD-3&quot; --&gt;
        &lt;id root=&quot;PseduoMD-3&quot;/&gt;
        &lt;code code=&quot;59058001&quot; codeSystem=&quot;2.16.840.1.113883.6.96&quot; codeSystemName=&quot;SNOMED CT&quot; displayName=&quot;General Physician&quot;/&gt;
      &lt;/assignedEntity&gt;
    &lt;/performer&gt;
    &lt;participant typeCode=&quot;LOC&quot;&gt;
      &lt;participantRole classCode=&quot;SDLOC&quot;&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.32&quot;/&gt;
        &lt;!-- Service Delivery Location template --&gt;
        &lt;code code=&quot;1160-1&quot; codeSystem=&quot;2.16.840.1.113883.6.259&quot; codeSystemName=&quot;HealthcareServiceLocation&quot; displayName=&quot;Urgent Care Center&quot;/&gt;
        &lt;addr&gt;
          &lt;streetAddressLine&gt;17 Daws Rd.&lt;/streetAddressLine&gt;
          &lt;city&gt;Blue Bell&lt;/city&gt;
          &lt;state&gt;MA&lt;/state&gt;
          &lt;postalCode&gt;02368&lt;/postalCode&gt;
          &lt;country&gt;US&lt;/country&gt;
        &lt;/addr&gt;
        &lt;telecom nullFlavor=&quot;UNK&quot;/&gt;
        &lt;playingEntity classCode=&quot;PLC&quot;&gt;
          &lt;name&gt;Community Urgent Care Center&lt;/name&gt;
        &lt;/playingEntity&gt;
      &lt;/participantRole&gt;
    &lt;/participant&gt;
    &lt;entryRelationship typeCode=&quot;RSON&quot;&gt;
      &lt;observation classCode=&quot;OBS&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.19&quot;/&gt;
        &lt;id root=&quot;db734647-fc99-424c-a864-7e3cda82e703&quot; extension=&quot;45665&quot;/&gt;
        &lt;code code=&quot;404684003&quot; displayName=&quot;Finding&quot; codeSystem=&quot;2.16.840.1.113883.6.96&quot; codeSystemName=&quot;SNOMED CT&quot;/&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime&gt;
          &lt;low value=&quot;20070103&quot;/&gt;
        &lt;/effectiveTime&gt;
        &lt;value xsi:type=&quot;CD&quot; code=&quot;233604007&quot; displayName=&quot;Pneumonia&quot; codeSystem=&quot;2.16.840.1.113883.6.96&quot;/&gt;
      &lt;/observation&gt;
    &lt;/entryRelationship&gt;
  &lt;/encounter&gt;
&lt;/entry&gt;</code></pre></div><div class="col-sm-6"><h2>BB JSON</h2><pre><code class="json" style="font-size:10px;">{
    "encounter": {
        "name": "Office outpatient visit 15 minutes",
        "code": "99213",
        "code_system_name": "CPT",
        "translations": [
            {
                "name": "Ambulatory",
                "code": "AMB",
                "code_system_name": "HL7ActCode"
            }
        ]
    },
    "identifiers": [
        {
            "identifier": "2a620155-9d11-439e-92b3-5d9815ff4de8"
        }
    ],
    "date": [
        {
            "date": "2009-02-27T13:00:00.000Z",
            "precision": "subsecond"
        }
    ],
    "locations": [
        {
            "name": "Community Urgent Care Center",
            "loc_type": {
                "name": "Urgent Care Center",
                "code": "1160-1",
                "code_system_name": "HealthcareServiceLocation"
            },
            "addresses": [
                {
                    "streetLines": [
                        "17 Daws Rd."
                    ],
                    "city": "Blue Bell",
                    "state": "MA",
                    "zip": "02368",
                    "country": "US"
                }
            ]
        }
    ],
    "findings": [
        {
            "name": "Pneumonia",
            "code": "233604007",
            "code_system_name": "SNOMED CT"
        }
    ]
}</code></pre></div></div><% include _templates/foot %>