<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>CCDA XML</h2><pre><code class="xml" style="font-size:10px;">&lt;entry typeCode=&quot;DRIV&quot;&gt;
  &lt;substanceAdministration classCode=&quot;SBADM&quot; moodCode=&quot;EVN&quot;&gt;
    &lt;!-- ** Medication activity ** --&gt;
    &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.16&quot;/&gt;
    &lt;id root=&quot;cdbd33f0-6cde-11db-9fe1-0800200c9a66&quot;/&gt;
    &lt;text&gt;
      &lt;reference value=&quot;#MedSec_1&quot;/&gt; Proventil HFA
    &lt;/text&gt;
    &lt;statusCode code=&quot;completed&quot;/&gt;
    &lt;effectiveTime xsi:type=&quot;IVL_TS&quot;&gt;
      &lt;low value=&quot;20070103&quot;/&gt;
      &lt;high value=&quot;20120515&quot;/&gt;
    &lt;/effectiveTime&gt;
    &lt;effectiveTime xsi:type=&quot;PIVL_TS&quot; institutionSpecified=&quot;true&quot; operator=&quot;A&quot;&gt;
      &lt;period value=&quot;6&quot; unit=&quot;h&quot;/&gt;
    &lt;/effectiveTime&gt;
    &lt;routeCode code=&quot;C38216&quot; codeSystem=&quot;2.16.840.1.113883.3.26.1.1&quot; codeSystemName=&quot;NCI Thesaurus&quot; displayName=&quot;RESPIRATORY (INHALATION)&quot;/&gt;
    &lt;doseQuantity value=&quot;1&quot; unit=&quot;mg/actuat&quot;/&gt;
    &lt;rateQuantity value=&quot;90&quot; unit=&quot;ml/min&quot;/&gt;
    &lt;maxDoseQuantity nullFlavor=&quot;UNK&quot;&gt;
      &lt;numerator nullFlavor=&quot;UNK&quot;/&gt;
      &lt;denominator nullFlavor=&quot;UNK&quot;/&gt;
    &lt;/maxDoseQuantity&gt;
    &lt;administrationUnitCode code=&quot;C42944&quot; displayName=&quot;INHALANT&quot; codeSystem=&quot;2.16.840.1.113883.3.26.1.1&quot; codeSystemName=&quot;NCI Thesaurus&quot;/&gt;
    &lt;consumable&gt;
      &lt;manufacturedProduct classCode=&quot;MANU&quot;&gt;
        &lt;!-- ** Medication information ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.23&quot;/&gt;
        &lt;id root=&quot;2a620155-9d11-439e-92b3-5d9815ff4ee8&quot;/&gt;
        &lt;manufacturedMaterial&gt;
          &lt;code code=&quot;219483&quot; codeSystem=&quot;2.16.840.1.113883.6.88&quot; displayName=&quot;Proventil HFA&quot;&gt;
            &lt;originalText&gt;
              &lt;reference value=&quot;#MedSec_1&quot;/&gt;
            &lt;/originalText&gt;
            &lt;translation code=&quot;573621&quot; displayName=&quot;Proventil 0.09 MG/ACTUAT inhalant solution&quot; codeSystem=&quot;2.16.840.1.113883.6.88&quot; codeSystemName=&quot;RxNorm&quot;/&gt;
          &lt;/code&gt;
        &lt;/manufacturedMaterial&gt;
        &lt;manufacturerOrganization&gt;
          &lt;name&gt;Medication Factory Inc.&lt;/name&gt;
        &lt;/manufacturerOrganization&gt;
      &lt;/manufacturedProduct&gt;
    &lt;/consumable&gt;
    &lt;performer&gt;
      &lt;assignedEntity&gt;
        &lt;id nullFlavor=&quot;NI&quot;/&gt;
        &lt;addr nullFlavor=&quot;UNK&quot;/&gt;
        &lt;telecom nullFlavor=&quot;UNK&quot;/&gt;
        &lt;representedOrganization&gt;
          &lt;id root=&quot;2.16.840.1.113883.19.5.9999.1393&quot;/&gt;
          &lt;name&gt;Community Health and Hospitals&lt;/name&gt;
          &lt;telecom nullFlavor=&quot;UNK&quot;/&gt;
          &lt;addr nullFlavor=&quot;UNK&quot;/&gt;
        &lt;/representedOrganization&gt;
      &lt;/assignedEntity&gt;
    &lt;/performer&gt;
    &lt;participant typeCode=&quot;CSM&quot;&gt;
      &lt;participantRole classCode=&quot;MANU&quot;&gt;
        &lt;!-- ** Drug vehicle ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.24&quot;/&gt;
        &lt;code code=&quot;412307009&quot; displayName=&quot;drug vehicle&quot; codeSystem=&quot;2.16.840.1.113883.6.96&quot;/&gt;
        &lt;playingEntity classCode=&quot;MMAT&quot;&gt;
          &lt;code code=&quot;324049&quot; displayName=&quot;Aerosol&quot; codeSystem=&quot;2.16.840.1.113883.6.88&quot; codeSystemName=&quot;RxNorm&quot;/&gt;
          &lt;name&gt;Aerosol&lt;/name&gt;
        &lt;/playingEntity&gt;
      &lt;/participantRole&gt;
    &lt;/participant&gt;
    &lt;entryRelationship typeCode=&quot;RSON&quot;&gt;
      &lt;observation classCode=&quot;OBS&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;!-- ** Indication ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.19&quot;/&gt;
        &lt;id root=&quot;db734647-fc99-424c-a864-7e3cda82e703&quot; extension=&quot;45665&quot;/&gt;
        &lt;code code=&quot;404684003&quot; displayName=&quot;Finding&quot; codeSystem=&quot;2.16.840.1.113883.6.96&quot; codeSystemName=&quot;SNOMED CT&quot;/&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime&gt;
          &lt;low value=&quot;20070103&quot;/&gt;
        &lt;/effectiveTime&gt;
        &lt;value xsi:type=&quot;CD&quot; code=&quot;233604007&quot; displayName=&quot;Pneumonia&quot; codeSystem=&quot;2.16.840.1.113883.6.96&quot;/&gt;
      &lt;/observation&gt;
    &lt;/entryRelationship&gt;
    &lt;entryRelationship typeCode=&quot;REFR&quot;&gt;
      &lt;supply classCode=&quot;SPLY&quot; moodCode=&quot;INT&quot;&gt;
        &lt;!-- ** Medication supply order ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.17&quot;/&gt;
        &lt;id nullFlavor=&quot;NI&quot;/&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime xsi:type=&quot;IVL_TS&quot;&gt;
          &lt;low value=&quot;20070103&quot;/&gt;
          &lt;high nullFlavor=&quot;UNK&quot;/&gt;
        &lt;/effectiveTime&gt;
        &lt;repeatNumber value=&quot;1&quot;/&gt;
        &lt;quantity value=&quot;75&quot;/&gt;
        &lt;product&gt;
          &lt;manufacturedProduct classCode=&quot;MANU&quot;&gt;
            &lt;!-- ** Medication information ** --&gt;
            &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.23&quot;/&gt;
            &lt;id root=&quot;2a620155-9d11-439e-92b3-5d9815ff4ee8&quot;/&gt;
            &lt;manufacturedMaterial&gt;
              &lt;code code=&quot;573621&quot; codeSystem=&quot;2.16.840.1.113883.6.88&quot; displayName=&quot;Proventil 0.09 MG/ACTUAT inhalant solution&quot;&gt;
                &lt;originalText&gt;
                  &lt;reference value=&quot;#MedSec_1&quot;/&gt;
                &lt;/originalText&gt;
                &lt;translation code=&quot;573621&quot; displayName=&quot;Proventil 0.09 MG/ACTUAT inhalant solution&quot; codeSystem=&quot;2.16.840.1.113883.6.88&quot; codeSystemName=&quot;RxNorm&quot;/&gt;
              &lt;/code&gt;
            &lt;/manufacturedMaterial&gt;
            &lt;manufacturerOrganization&gt;
              &lt;name&gt;Medication Factory Inc.&lt;/name&gt;
            &lt;/manufacturerOrganization&gt;
          &lt;/manufacturedProduct&gt;
        &lt;/product&gt;
        &lt;performer&gt;
          &lt;assignedEntity&gt;
            &lt;id extension=&quot;2981823&quot; root=&quot;2.16.840.1.113883.19.5.9999.456&quot;/&gt;
            &lt;addr&gt;
              &lt;streetAddressLine&gt;1001 Village
 Avenue&lt;/streetAddressLine&gt;
              &lt;city&gt;Portland&lt;/city&gt;
              &lt;state&gt;OR&lt;/state&gt;
              &lt;postalCode&gt;99123&lt;/postalCode&gt;
              &lt;country&gt;US&lt;/country&gt;
            &lt;/addr&gt;
          &lt;/assignedEntity&gt;
        &lt;/performer&gt;
        &lt;author&gt;
          &lt;time nullFlavor=&quot;UNK&quot;/&gt;
          &lt;assignedAuthor&gt;
            &lt;id root=&quot;2a620155-9d11-439e-92b3-5d9815fe4de8&quot;/&gt;
            &lt;addr nullFlavor=&quot;UNK&quot;/&gt;
            &lt;telecom nullFlavor=&quot;UNK&quot;/&gt;
            &lt;assignedPerson&gt;
              &lt;name&gt;
                &lt;prefix&gt;Dr.&lt;/prefix&gt;
                &lt;given&gt;Henry&lt;/given&gt;
                &lt;family&gt;Seven&lt;/family&gt;
              &lt;/name&gt;
            &lt;/assignedPerson&gt;
          &lt;/assignedAuthor&gt;
        &lt;/author&gt;
        &lt;entryRelationship typeCode=&quot;SUBJ&quot; inversionInd=&quot;true&quot;&gt;
          &lt;act classCode=&quot;ACT&quot; moodCode=&quot;INT&quot;&gt;
            &lt;!-- ** Instructions ** --&gt;
            &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.20&quot;/&gt;
            &lt;code code=&quot;409073007&quot; codeSystem=&quot;2.16.840.1.113883.6.96&quot; displayName=&quot;instruction&quot;/&gt;
            &lt;text&gt;
              &lt;reference value=&quot;#MedSec_1&quot;/&gt; label in spanish 
            &lt;/text&gt;
            &lt;statusCode code=&quot;completed&quot;/&gt;
          &lt;/act&gt;
        &lt;/entryRelationship&gt;
      &lt;/supply&gt;
    &lt;/entryRelationship&gt;
    &lt;entryRelationship typeCode=&quot;REFR&quot;&gt;
      &lt;supply classCode=&quot;SPLY&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;!-- ** Medication dispense ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.18&quot;/&gt;
        &lt;id root=&quot;1.2.3.4.56789.1&quot; extension=&quot;cb734647-fc99-424c-a864-7e3cda82e704&quot;/&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime value=&quot;20070103&quot;/&gt;
        &lt;repeatNumber value=&quot;1&quot;/&gt;
        &lt;quantity value=&quot;75&quot;/&gt;
        &lt;product&gt;
          &lt;manufacturedProduct classCode=&quot;MANU&quot;&gt;
            &lt;!-- ** Medication information ** --&gt;
            &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.23&quot;/&gt;
            &lt;id root=&quot;2a620155-9d11-439e-92b3-5d9815ff4ee8&quot;/&gt;
            &lt;manufacturedMaterial&gt;
              &lt;code code=&quot;573621&quot; codeSystem=&quot;2.16.840.1.113883.6.88&quot; displayName=&quot;Proventil 0.09 MG/ACTUAT inhalant solution&quot;&gt;
                &lt;originalText&gt;
                  &lt;reference value=&quot;#MedSec_1&quot;/&gt;
                &lt;/originalText&gt;
                &lt;translation code=&quot;573621&quot; displayName=&quot;Proventil 0.09 MG/ACTUAT inhalant solution&quot; codeSystem=&quot;2.16.840.1.113883.6.88&quot; codeSystemName=&quot;RxNorm&quot;/&gt;
              &lt;/code&gt;
            &lt;/manufacturedMaterial&gt;
            &lt;manufacturerOrganization&gt;
              &lt;name&gt;Medication Factory Inc.&lt;/name&gt;
            &lt;/manufacturerOrganization&gt;
          &lt;/manufacturedProduct&gt;
        &lt;/product&gt;
        &lt;performer&gt;
          &lt;time nullFlavor=&quot;UNK&quot;/&gt;
          &lt;assignedEntity&gt;
            &lt;id root=&quot;2.16.840.1.113883.19.5.9999.456&quot; extension=&quot;2981823&quot;/&gt;
            &lt;addr&gt;
              &lt;streetAddressLine&gt;1001 Village
 Avenue&lt;/streetAddressLine&gt;
              &lt;city&gt;Portland&lt;/city&gt;
              &lt;state&gt;OR&lt;/state&gt;
              &lt;postalCode&gt;99123&lt;/postalCode&gt;
              &lt;country&gt;US&lt;/country&gt;
            &lt;/addr&gt;
            &lt;telecom nullFlavor=&quot;UNK&quot;/&gt;
            &lt;assignedPerson&gt;
              &lt;name&gt;
                &lt;prefix&gt;Dr.&lt;/prefix&gt;
                &lt;given&gt;Henry&lt;/given&gt;
                &lt;family&gt;Seven&lt;/family&gt;
              &lt;/name&gt;
            &lt;/assignedPerson&gt;
            &lt;representedOrganization&gt;
              &lt;id root=&quot;2.16.840.1.113883.19.5.9999.1393&quot;/&gt;
              &lt;name&gt;Community Health and Hospitals&lt;/name&gt;
              &lt;telecom nullFlavor=&quot;UNK&quot;/&gt;
              &lt;addr nullFlavor=&quot;UNK&quot;/&gt;
            &lt;/representedOrganization&gt;
          &lt;/assignedEntity&gt;
        &lt;/performer&gt;
      &lt;/supply&gt;
    &lt;/entryRelationship&gt;
    &lt;precondition typeCode=&quot;PRCN&quot;&gt;
      &lt;!-- ** Precondition for substance administration ** --&gt;
      &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.25&quot;/&gt;
      &lt;criterion&gt;
        &lt;code code=&quot;ASSERTION&quot; codeSystem=&quot;2.16.840.1.113883.5.4&quot;/&gt;
        &lt;value xsi:type=&quot;CE&quot; code=&quot;56018004&quot; codeSystem=&quot;2.16.840.1.113883.6.96&quot; displayName=&quot;Wheezing&quot;/&gt;
      &lt;/criterion&gt;
    &lt;/precondition&gt;
  &lt;/substanceAdministration&gt;
&lt;/entry&gt;</code></pre></div><div class="col-sm-6"><h2>BB JSON</h2><pre><code class="json" style="font-size:10px;">{
    "date": [
        {
            "date": "2007-01-03T00:00:00.000Z",
            "precision": "day"
        },
        {
            "date": "2012-05-15T00:00:00.000Z",
            "precision": "day"
        }
    ],
    "identifiers": [
        {
            "identifier": "cdbd33f0-6cde-11db-9fe1-0800200c9a66"
        }
    ],
    "status": "Completed",
    "sig": "Proventil HFA ",
    "product": {
        "identifiers": {
            "identifier": "2a620155-9d11-439e-92b3-5d9815ff4ee8"
        },
        "unencoded_name": "Proventil HFA ",
        "product": {
            "name": "Proventil HFA",
            "code": "219483",
            "translations": [
                {
                    "name": "Proventil 0.09 MG/ACTUAT inhalant solution",
                    "code": "573621",
                    "code_system_name": "RXNORM"
                }
            ],
            "code_system_name": "RXNORM"
        }
    },
    "administration": {
        "route": {
            "name": "RESPIRATORY (INHALATION)",
            "code": "C38216",
            "code_system_name": "Medication Route FDA"
        },
        "form": {
            "name": "INHALANT",
            "code": "C42944",
            "code_system_name": "Medication Route FDA"
        },
        "dose": {
            "value": 1,
            "unit": "mg/actuat"
        },
        "rate": {
            "value": 90,
            "unit": "ml/min"
        }
    },
    "precondition": {
        "code": {
            "code": "ASSERTION",
            "code_system_name": "HL7ActCode"
        },
        "value": {
            "name": "Wheezing",
            "code": "56018004",
            "code_system_name": "SNOMED CT"
        }
    }
}</code></pre></div></div><% include _templates/foot %>