<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>CCDA XML</h2><pre><code class="xml" style="font-size:10px;">&lt;entry typeCode=&quot;DRIV&quot;&gt;
  &lt;organizer classCode=&quot;CLUSTER&quot; moodCode=&quot;EVN&quot;&gt;
    &lt;!-- ** Vital signs organizer ** --&gt;
    &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.26&quot;/&gt;
    &lt;id root=&quot;c6f88320-67ad-11db-bd13-0800200c9a66&quot;/&gt;
    &lt;code code=&quot;46680005&quot; codeSystem=&quot;2.16.840.1.113883.6.96&quot; codeSystemName=&quot;SNOMED -CT&quot; displayName=&quot;Vital signs&quot;/&gt;
    &lt;statusCode code=&quot;completed&quot;/&gt;
    &lt;effectiveTime value=&quot;19991114&quot;/&gt;
    &lt;component&gt;
      &lt;observation classCode=&quot;OBS&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;!-- ** Vital sign observation ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.27&quot;/&gt;
        &lt;id root=&quot;c6f88321-67ad-11db-bd13-0800200c9a66&quot;/&gt;
        &lt;code code=&quot;8302-2&quot; codeSystem=&quot;2.16.840.1.113883.6.1&quot; codeSystemName=&quot;LOINC&quot; displayName=&quot;Height&quot;/&gt;
        &lt;text&gt;
          &lt;reference value=&quot;#vit1&quot;/&gt;
        &lt;/text&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime value=&quot;19991114&quot;/&gt;
        &lt;value xsi:type=&quot;PQ&quot; value=&quot;177&quot; unit=&quot;cm&quot;/&gt;
        &lt;interpretationCode code=&quot;N&quot; codeSystem=&quot;2.16.840.1.113883.5.83&quot;/&gt;
      &lt;/observation&gt;
    &lt;/component&gt;
    &lt;component&gt;
      &lt;observation classCode=&quot;OBS&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;!-- ** Vital sign observation ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.27&quot;/&gt;
        &lt;id root=&quot;c6f88321-67ad-11db-bd13-0800200c9a66&quot;/&gt;
        &lt;code code=&quot;3141-9&quot; codeSystem=&quot;2.16.840.1.113883.6.1&quot; codeSystemName=&quot;LOINC&quot; displayName=&quot;Patient Body Weight - Measured&quot;/&gt;
        &lt;text&gt;
          &lt;reference value=&quot;#vit3&quot;/&gt;
        &lt;/text&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime value=&quot;19991114&quot;/&gt;
        &lt;value xsi:type=&quot;PQ&quot; value=&quot;86&quot; unit=&quot;kg&quot;/&gt;
        &lt;interpretationCode code=&quot;N&quot; codeSystem=&quot;2.16.840.1.113883.5.83&quot;/&gt;
      &lt;/observation&gt;
    &lt;/component&gt;
    &lt;component&gt;
      &lt;observation classCode=&quot;OBS&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;!-- ** Vital sign observation ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.27&quot;/&gt;
        &lt;id root=&quot;c6f88321-67ad-11db-bd13-0800200c9a66&quot;/&gt;
        &lt;code code=&quot;8480-6&quot; codeSystem=&quot;2.16.840.1.113883.6.1&quot; codeSystemName=&quot;LOINC&quot; displayName=&quot;Intravascular Systolic&quot;/&gt;
        &lt;text&gt;
          &lt;reference value=&quot;#vit5&quot;/&gt;
        &lt;/text&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime value=&quot;19991114&quot;/&gt;
        &lt;value xsi:type=&quot;PQ&quot; value=&quot;132&quot; unit=&quot;mm[Hg]&quot;/&gt;
        &lt;interpretationCode code=&quot;N&quot; codeSystem=&quot;2.16.840.1.113883.5.83&quot;/&gt;
      &lt;/observation&gt;
    &lt;/component&gt;
  &lt;/organizer&gt;
&lt;/entry&gt;,
&lt;entry typeCode=&quot;DRIV&quot;&gt;
  &lt;organizer classCode=&quot;CLUSTER&quot; moodCode=&quot;EVN&quot;&gt;
    &lt;!-- ** Vital signs organizer ** --&gt;
    &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.26&quot;/&gt;
    &lt;id root=&quot;c6f88320-67ad-11db-bd13-0800200c9a66&quot;/&gt;
    &lt;code code=&quot;46680005&quot; codeSystem=&quot;2.16.840.1.113883.6.96&quot; codeSystemName=&quot;SNOMED -CT&quot; displayName=&quot;Vital signs&quot;/&gt;
    &lt;statusCode code=&quot;completed&quot;/&gt;
    &lt;effectiveTime value=&quot;20000407&quot;/&gt;
    &lt;component&gt;
      &lt;observation classCode=&quot;OBS&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;!-- ** Vital sign observation ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.27&quot;/&gt;
        &lt;id root=&quot;c6f88321-67ad-11db-bd13-0800200c9a66&quot;/&gt;
        &lt;code code=&quot;8302-2&quot; codeSystem=&quot;2.16.840.1.113883.6.1&quot; codeSystemName=&quot;LOINC&quot; displayName=&quot;Height&quot;/&gt;
        &lt;text&gt;
          &lt;reference value=&quot;#vit2&quot;/&gt;
        &lt;/text&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime value=&quot;20000407&quot;/&gt;
        &lt;value xsi:type=&quot;PQ&quot; value=&quot;177&quot; unit=&quot;cm&quot;/&gt;
        &lt;interpretationCode code=&quot;N&quot; codeSystem=&quot;2.16.840.1.113883.5.83&quot;/&gt;
      &lt;/observation&gt;
    &lt;/component&gt;
    &lt;component&gt;
      &lt;observation classCode=&quot;OBS&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;!-- ** Vital sign observation ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.27&quot;/&gt;
        &lt;id root=&quot;c6f88321-67ad-11db-bd13-0800200c9a66&quot;/&gt;
        &lt;code code=&quot;3141-9&quot; codeSystem=&quot;2.16.840.1.113883.6.1&quot; codeSystemName=&quot;LOINC&quot; displayName=&quot;Patient Body Weight - Measured&quot;/&gt;
        &lt;text&gt;
          &lt;reference value=&quot;#vit4&quot;/&gt;
        &lt;/text&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime value=&quot;20000407&quot;/&gt;
        &lt;value xsi:type=&quot;PQ&quot; value=&quot;88&quot; unit=&quot;kg&quot;/&gt;
        &lt;interpretationCode code=&quot;N&quot; codeSystem=&quot;2.16.840.1.113883.5.83&quot;/&gt;
      &lt;/observation&gt;
    &lt;/component&gt;
    &lt;component&gt;
      &lt;observation classCode=&quot;OBS&quot; moodCode=&quot;EVN&quot;&gt;
        &lt;!-- ** Vital sign observation ** --&gt;
        &lt;templateId root=&quot;2.16.840.1.113883.10.20.22.4.27&quot;/&gt;
        &lt;id root=&quot;c6f88321-67ad-11db-bd13-0800200c9a66&quot;/&gt;
        &lt;code code=&quot;8480-6&quot; codeSystem=&quot;2.16.840.1.113883.6.1&quot; codeSystemName=&quot;LOINC&quot; displayName=&quot;Intravascular Systolic&quot;/&gt;
        &lt;text&gt;
          &lt;reference value=&quot;#vit6&quot;/&gt;
        &lt;/text&gt;
        &lt;statusCode code=&quot;completed&quot;/&gt;
        &lt;effectiveTime value=&quot;20000407&quot;/&gt;
        &lt;value xsi:type=&quot;PQ&quot; value=&quot;145&quot; unit=&quot;mm[Hg]&quot;/&gt;
        &lt;interpretationCode code=&quot;N&quot; codeSystem=&quot;2.16.840.1.113883.5.83&quot;/&gt;
      &lt;/observation&gt;
    &lt;/component&gt;
  &lt;/organizer&gt;
&lt;/entry&gt;</code></pre></div><div class="col-sm-6"><h2>BB JSON</h2><pre><code class="json" style="font-size:10px;">{
    "identifiers": [
        {
            "identifier": "c6f88321-67ad-11db-bd13-0800200c9a66"
        }
    ],
    "vital": {
        "name": "Height",
        "code": "8302-2",
        "code_system_name": "LOINC"
    },
    "status": "completed",
    "date": [
        {
            "date": "1999-11-14T00:00:00.000Z",
            "precision": "day"
        }
    ],
    "interpretations": [
        "Normal"
    ],
    "value": 177,
    "unit": "cm"
}</code></pre></div></div><% include _templates/foot %>