          <ul class="nav nav-sidebar">
            <% for(var i=0; i<sections.length; i++) {%>
               <li><a href="<%= sections[i].id %>.html"><%= sections[i].title %></a></li>
            <% } %>          
          </ul>