<hr />
</div><!--/large 9  -->
</div><!--/row  -->
<div class="row">
<div class="large-9 large-centered columns">
<div class="panel">
<h4>Code</h4>
<p>
Amida Technology Solutions has been developing the "PHIX", or Personal Health Information eXchange. This code has been developed as a prototype, and will continue to be developed into a production-ready solution.
<ul>
<li>Code is available on GitHub: <a href="http://github.com/amida-tech/PHIX">http://github.com/amida-tech/PHIX</a></li>
<li>OSEHRA submission: <a href="http://hdl.handle.net/10909/102">http://hdl.handle.net/10909/102</a></li>
</ul>
</p>
</div><!--/panel  -->
</div><!--/large 9-->
</div><!--/row  -->
</div><!--/content -->
<footer>
<div class="row">
<div class="small-12 columns">
<ul>
<li><a href="../about/index.html">About Us</a></li>
<li><a href="../press/index.html">Press</a></li>
<li><a href="../careers/index.html">Careers</a></li>
<li><a href="../contact/index.html">Contact Us</a></li>
</ul>
</div><!--/small 12 -->
</div><!--/row -->
</footer>
</div><!--/content -->