            </div><!--/large 9  -->
        </div><!--/row  -->
    </div><!--/content -->
    <footer>
        <div class="row">
            <div class="small-12 columns">
                <ul>
                    <li><a href="http://amida-tech.com/index.htmll">Home</a></li>
                    <li><a href="http://amida-tech.com/about/index.htmll">About Us</a></li>
                    <li><a href="http://amida-tech.com/press/index.html">Press</a></li>
                    <li><a href="http://amida-tech.com/careers/index.html">Careers</a></li>
                    <li><a href="http://amida-tech.com/contact/index.html">Contact Us</a></li>
                </ul>
            </div><!--/small 12 -->
        </div><!--/row -->
    </footer>
</div><!--/content -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://amida-dev.publicprivatesector.org/js/bootstrap.js"></script>
<script src="http://amida-dev.publicprivatesector.org/js/holder.js"></script>
<script src="http://amida-dev.publicprivatesector.org/js/application.js"></script>