<div id="head">
    <div class="row header">
        <div class="large-2 columns" style="border: 1px solid #000;">
            <h1 role="banner"><a href="/index.html">Amida Dev</a></h1>
        </div><!--/large 6-->
        <div class="large-10 columns">
            <nav>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/docs.html">Docs</em></a></li>
                    <li><a href="/code.html">Code</em></a></li>
                    <li><a href="/blog/">Updates</em></a></li>
                    <li><a href="/support.html">Support</em></a></li>
                    <li><a href="/resources.html">Resources</em></a></li>
                </ul>
            </nav>
        </div><!--/large 6-->
    </div><!--/row header -->
</div><!--/head -->
<div class="content" role="main">
    <div class="row">
        <div class="large-9 large-centered columns">

 