<div id="head">
    <div class="row header">
        <div class="large-3 columns">
            <h1 role="banner"><a href="../index.html">Amida Tech</a></h1>
        </div><!--/large 6-->
        <div class="large-9 columns">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="api.html">API</em></a></li>
                    <li><a href="/blog/">Updates</em></a></li>
                    <li class='current-parent current'><a class='current-parent current' href="about.html">About</a></li>
                </ul>
            </nav>
        </div><!--/large 6-->
    </div><!--/row header -->
</div><!--/head -->
<div class="content" role="main">
    <div class="row">
        <div class="large-9 large-centered columns">    