<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><html class="no-js ie-good" lang="en"><![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="amida, amida tech, amida technology solutions, peter l. levin, dmitry kachaev, matt mccall, solutions, healthcare, health care, HIT, cyber security, cybersecurity, identity management, education, information technology, it, energy, blue button, electronic health record, EHR, patient health record, PHR, PHIX, open source">
<title>Amida Tech: Placing patients at the center of their healthcare information</title>

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>

<link href="http://amida-dev.publicprivatesector.org/css/bootstrap.min.css" rel="stylesheet">
<link href="http://amida-dev.publicprivatesector.org/css/docs.css" rel="stylesheet">
<link href="http://amida-dev.publicprivatesector.org/css/pygments-manni.css" rel="stylesheet">

<link rel='stylesheet' href='http://amida-dev.publicprivatesector.org/css/style.css'>
<script src='http://amida-dev.publicprivatesector.org/js/amida.js'></script>

<!--[if lte IE 8]>
<link rel="stylesheet" href="/assets/css/ie8.css" media="screen, projection">
<![endif]-->

<!-- Icons -->
<link rel="shortcut icon" href="/favion.ico" type="image/x-icon">

<script type="text/javascript" src="http://amida-dev.publicprivatesector.org/js/account.js"></script>
<script type="text/javascript" src="http://amida-dev.publicprivatesector.org/js/access.js"></script>
<script type="text/javascript" src="http://amida-dev.publicprivatesector.org/js/direct.js"></script>
<script type="text/javascript" src="http://amida-dev.publicprivatesector.org/js/delegation.js"></script>
<script type="text/javascript" src="http://amida-dev.publicprivatesector.org/js/hie.js"></script>
<script type="text/javascript" src="http://amida-dev.publicprivatesector.org/js/identity.js"></script>
<script type="text/javascript" src="http://amida-dev.publicprivatesector.org/js/master.js"></script>
<script type="text/javascript" src="http://amida-dev.publicprivatesector.org/js/providers.js"></script>
<script type="text/javascript" src="http://amida-dev.publicprivatesector.org/js/profile.js"></script>
<script type="text/javascript" src="http://amida-dev.publicprivatesector.org/js/storage.js"></script>

</head>