<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>Schema</h2><pre><code class="json" style="font-size:10px;">{
    "type": "object",
    "$schema": "http://json-schema.org/draft-04/schema",
    "properties": {
        "date_time": {
            "$ref": "http://local.com/common_models#/properties/cda_date"
        },
        "identifiers": {
            "type": "array",
            "minItems": 1,
            "items": {
                "$ref": "http://local.com/common_models#/properties/cda_id"
            }
        },
        "observation": {
            "type": "object",
            "properties": {
                "identifiers": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                        "$ref": "http://local.com/common_models#/properties/cda_id"
                    }
                },

                "negation_indicator": {
                    "type": "boolean"
                },

                "allergen": {
                    "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
                },
                "intolerance": {
                    "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
                },
                "date_time": {
                    "$ref": "http://local.com/common_models#/properties/cda_date"
                },
                "status": {
                    "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
                },

                "reactions": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                        "type": "object",
                        "properties": {
                            "date_time": {
                                "$ref": "http://local.com/common_models#/properties/cda_date"
                            },
                            "reaction": {
                                "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
                            },
                            "severity": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
                                    },
                                    "interpretation": {
                                        "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
                                    }
                                },
                                "additionalProperties": false
                            }
                        },
                        "additionalProperties": false


                    }
                },
                "severity": {
                    "type": "object",
                    "properties": {
                        "code": {
                            "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
                        },
                        "interpretation": {
                            "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
                        }
                    },
                    "additionalProperties": false
                }
            },
            "additionalProperties": false
        },
        "additionalProperties": false
    },
    "additionalProperties": false
}
</code></pre></div><div class="col-sm-6"><h2>Example</h2><pre><code class="json" style="font-size:10px;">{
    "identifiers": [
        {
            "identifier": "36e3e930-7b14-11db-9fe1-0800200c9a66"
        }
    ],
    "date_time": {
        "point": {
            "date": "2007-05-01T00:00:00Z",
            "precision": "day"
        }
    },
    "observation": {
        "identifiers": [
            {
                "identifier": "4adc1020-7b14-11db-9fe1-0800200c9a66"
            }
        ],
        "allergen": {
            "name": "ALLERGENIC EXTRACT, PENICILLIN",
            "code": "314422",
            "code_system_name": "RXNORM"
        },
        "intolerance": {
            "name": "Propensity to adverse reactions to drug",
            "code": "419511003",
            "code_system_name": "SNOMED CT"
        },
        "date_time": {
            "low": {
                "date": "2007-05-01T00:00:00Z",
                "precision": "day"
            }
        },
        "status": {
            "name": "Inactive",
            "code": "73425007",
            "code_system_name": "SNOMED CT"
        },
        "reactions": [
            {
                "date_time": {
                    "low": {
                        "date": "2007-05-01T00:00:00Z",
                        "precision": "day"
                    },
                    "high": {
                        "date": "2009-02-27T13:00:00Z",
                        "precision": "second"
                    }
                },
                "reaction": {
                    "name": "Nausea",
                    "code": "422587007",
                    "code_system_name": "SNOMED CT"
                },
                "severity": {
                    "code": {
                        "name": "Mild",
                        "code": "255604002",
                        "code_system_name": "SNOMED CT"
                    },
                    "interpretation": {
                        "name": "Suceptible",
                        "code": "S",
                        "code_system_name": "OID 2.16.840.1.113883.1.11.78"
                    }
                }
            }
        ],
        "severity": {
            "code": {
                "name": "Moderate to severe",
                "code": "371924009",
                "code_system_name": "SNOMED CT"
            },
            "interpretation": {
                "name": "Normal",
                "code": "N",
                "code_system_name": "OID 2.16.840.1.113883.1.11.78"
            }
        }
    }
}</code></pre></div></div><% include _templates/foot %>