<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>Schema</h2><pre><code class="json" style="font-size:10px;">{
    "id": "discharge_instructions",
    "type": "object",
    "properties": {
        "title": {
            "type": "string"
        },
        "text": {
            "type": "string"
        }
    },
    "additionalProperties": false
}</code></pre></div>