<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>Schema</h2><pre><code class="json" style="font-size:10px;">{
    "type": "object",
    "$schema": "http://json-schema.org/draft-04/schema",
    "properties": {
        "date_time": {
            "$ref": "http://local.com/common_models#/properties/cda_date"
        },
        "encounter": {
            "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
        },
        "findings": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {                    
                    "value": {
                        "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
                    },
                    "identifiers": {
                        "type": "array",
                        "items": {
                            "$ref": "http://local.com/common_models#/properties/cda_id"

                        }
                    },
                    "date_time": {
                        "$ref": "http://local.com/common_models#/properties/cda_date"
                    }
                },
                "additionalProperties": false
            }
        },
        "identifiers": {
            "type": "array",
            "items": {
                "$ref": "http://local.com/common_models#/properties/cda_id"

            }
        },
        "performers": {
            "type": "array",
            "items": {
                "$ref": "http://local.com/common_models#/properties/cda_performer"
            }
        },
        "locations": {
            "type": "array",
            "items": {
                "$ref": "http://local.com/common_models#/properties/cda_location"
            }
        }
    },
    "additionalProperties": false,
    "required": ["encounter"]
}
</code></pre></div><div class="col-sm-6"><h2>Example</h2><pre><code class="json" style="font-size:10px;">{
    "encounter": {
        "name": "Office outpatient visit 15 minutes",
        "code": "99213",
        "code_system_name": "CPT",
        "translations": [
            {
                "name": "Ambulatory",
                "code": "AMB",
                "code_system_name": "HL7ActCode"
            }
        ]
    },
    "identifiers": [
        {
            "identifier": "2a620155-9d11-439e-92b3-5d9815ff4de8"
        }
    ],
    "date_time": {
        "point": {
            "date": "2009-02-27T13:00:00Z",
            "precision": "second"
        }
    },
    "performers": [
        {
            "identifiers": [
                {
                    "identifier": "PseduoMD-3"
                }
            ],
            "code": [
                {
                    "name": "General Physician",
                    "code": "59058001",
                    "code_system_name": "SNOMED CT"
                }
            ]
        }
    ],
    "locations": [
        {
            "name": "Community Urgent Care Center",
            "location_type": {
                "name": "Urgent Care Center",
                "code": "1160-1",
                "code_system_name": "HealthcareServiceLocation"
            },
            "address": [
                {
                    "street_lines": [
                        "17 Daws Rd."
                    ],
                    "city": "Blue Bell",
                    "state": "MA",
                    "zip": "02368",
                    "country": "US"
                }
            ]
        }
    ],
    "findings": [
        {
            "identifiers": [
                {
                    "identifier": "db734647-fc99-424c-a864-7e3cda82e703",
                    "extension": "45665"
                }
            ],
            "value": {
                "name": "Pneumonia",
                "code": "233604007",
                "code_system_name": "SNOMED CT"
            },
            "date_time": {
                "low": {
                    "date": "2007-01-03T00:00:00Z",
                    "precision": "day"
                }
            }
        }
    ]
}</code></pre></div></div><% include _templates/foot %>