<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>Schema</h2><pre><code class="json" style="font-size:10px;">{
    "id": "hospital_discharge_medications",
    "type": "array",
    "items": {
        "$ref": "medication"
    }
}</code></pre></div>