<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>Schema</h2><pre><code class="json" style="font-size:10px;">{
    "id": "immunizations",
    "type": "array",
    "items": {
        "$ref": "immunization"
    }
}

{
    "id": "immunization",
    "type": "object",
    "properties": {
        "date_time": {
            "$ref": "cda_date"
        },
        "identifiers": {
            "type": "array",
            "items": {
                "$ref": "cda_id"
            }
        },
        "status": {
            "type": "string"
        },
        "sequence_number": {
            "type": "string"
        },
        "administration": {
            "type": "object",
            "properties": {
                "dose": {
                    "$ref": "cda_physical_quantity"
                },
                "route": {
                    "$ref": "cda_coded_entry"
                },
                "body_site": {
                    "$ref": "cda_coded_entry"
                },
                "form": {
                    "$ref": "cda_coded_entry"
                }
            },
            "additionalProperties": false
        },
        "product": {
            "type": "object",
            "properties": {
                "lot_number": {
                    "type": "string"
                },
                "manufacturer": {
                    "type": "string"
                },
                "product": {
                    "$ref": "cda_coded_entry"
                }
            },
            "required": [
                "product"
            ],
            "additionalProperties": false
        },
        "performer": {
            "$ref": "cda_performer"
        },
        "instructions": {
            "type": "object",
            "properties": {
                "free_text": {
                    "type": "string"
                },
                "code": {
                    "$ref": "cda_coded_entry"
                }
            },
            "additionalProperties": false
        },
        "refusal_reason": {
            "type": "string"
        }
    },
    "additionalProperties": false,
    "required": [
        "status",
        "product"
    ]
}</code></pre></div><div class="col-sm-6"><h2>Example (immunization)</h2><pre><code class="json" style="font-size:10px;">{
    "date_time": {
        "point": {
            "date": "1999-11-01T00:00:00.000Z",
            "precision": "month"
        }
    },
    "identifiers": [
        {
            "identifier": "e6f1ba43-c0ed-4b9b-9f12-f435d8ad8f92"
        }
    ],
    "status": "complete",
    "product": {
        "product": {
            "name": "Influenza virus vaccine",
            "code": "88",
            "code_system_name": "CVX",
            "translations": [
                {
                    "name": "Influenza, seasonal, injectable",
                    "code": "141",
                    "code_system_name": "CVX"
                }
            ]
        },
        "lot_number": "1",
        "manufacturer": "Health LS - Immuno Inc."
    },
    "administration": {
        "route": {
            "name": "Intramuscular injection",
            "code": "C28161",
            "code_system_name": "Medication Route FDA"
        },
        "dose": {
            "value": 50,
            "unit": "mcg"
        }
    },
    "performer": {
        "identifiers": [
            {
                "identifier": "2.16.840.1.113883.19.5.9999.456",
                "extension": "2981824"
            }
        ],
        "name": [
            {
                "last": "Assigned",
                "first": "Amanda"
            }
        ],
        "address": [
            {
                "street_lines": [
                    "1021 Health Drive"
                ],
                "city": "Ann Arbor",
                "state": "MI",
                "zip": "99099",
                "country": "US"
            }
        ],
        "organization": [
            {
                "identifiers": [
                    {
                        "identifier": "2.16.840.1.113883.19.5.9999.1394"
                    }
                ],
                "name": [
                    "Good Health Clinic"
                ]
            }
        ]
    },
    "instructions": {
        "code": {
            "name": "immunization education",
            "code": "171044003",
            "code_system_name": "SNOMED CT"
        },
        "free_text": "Possible flu-like symptoms for three days."
    }
}</code></pre></div></div><% include _templates/foot %>