<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>Schema</h2><pre><code class="json" style="font-size:10px;">{
    "id": "plan_of_care",
    "type": "array",
    "items": {
        "$ref": "plan_of_care_entry"
    }
}

{
    "id": "plan_of_care_entry",
    "type": "object",
    "properties": {
        "plan": {
            "$ref": "cda_coded_entry"
        },
        "type": {
            "type": "string"
        },
        "date_time": {
            "$ref": "cda_date"
        },
        "identifiers": {
            "type": "array",
            "items": {
                "$ref": "cda_id"
            },
            "minItems": 1
        },
        "status": {
            "type": "string"
        }
    },
    "required": [
        "type"
    ],
    "additionalProperties": false
}</code></pre></div><div class="col-sm-6"><h2>Example (plan_of_care_entry)</h2><pre><code class="json" style="font-size:10px;">{
    "plan": {
        "name": "Colonoscopy",
        "code": "73761001",
        "code_system_name": "SNOMED CT"
    },
    "identifiers": [
        {
            "identifier": "9a6d1bac-17d3-4195-89a4-1121bc809b4a"
        }
    ],
    "date_time": {
        "center": {
            "date": "2012-05-12T00:00:00.000Z",
            "precision": "day"
        }
    },
    "type": "observation"
}</code></pre></div></div><% include _templates/foot %>