<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>Schema</h2><pre><code class="json" style="font-size:10px;">{
    "type": "object",
    "$schema": "http://json-schema.org/draft-04/schema",
    "properties": {
        "date_time": {
            "$ref": "http://local.com/common_models#/properties/cda_date"
        },
        "identifiers": {
            "type": "array",
            "items": {
                "$ref": "http://local.com/common_models#/properties/cda_id"
            }
        },
        "problem": {
            "type": "object",
            "properties": {
                "code": {
                    "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
                },
                "date_time": {
                    "$ref": "http://local.com/common_models#/properties/cda_date"
                }
            },
            "additionalProperties": false
        },
        "negation_indicator": {
            "type": "boolean"
        },
        "onset_age": {
            "type": "string"
        },
        "onset_age_unit": {
            "type": "string"
        },
        "patient_status": {
            "type": "string"
        },
        "status": {
            "type": "object",
            "properties": {
                "code": { "type": "string"},
                "status": { "type": "string"}
            }
        },
        "source_list_identifiers": {
            "type": "array",
            "items": {
                "$ref": "http://local.com/common_models#/properties/cda_id"
            }
        }
    },
    "additionalProperties": false,
    "required": ["problem"]
}
</code></pre></div><div class="col-sm-6"><h2>Example</h2><pre><code class="json" style="font-size:10px;">{
    "date_time": {
        "low": {
            "date": "2008-01-03T00:00:00Z",
            "precision": "day"
        },
        "high": {
            "date": "2008-01-03T00:00:00Z",
            "precision": "day"
        }
    },
    "identifiers": [
        {
            "identifier": "ab1791b0-5c71-11db-b0de-0800200c9a66"
        }
    ],
    "negation_indicator": false,
    "problem": {
        "code": {
            "name": "Pneumonia",
            "code": "233604007",
            "code_system_name": "SNOMED CT"
        },
        "date_time": {
            "low": {
                "date": "2008-01-03T00:00:00Z",
                "precision": "day"
            },
            "high": {
                "date": "2008-01-03T00:00:00Z",
                "precision": "day"
            }
        }
    },
    "onset_age": "57",
    "onset_age_unit": "Year",
    "status": {
        "name": "Resolved",
        "date_time": {
            "low": {
                "date": "2008-01-03T00:00:00Z",
                "precision": "day"
            },
            "high": {
                "date": "2009-02-27T13:00:00Z",
                "precision": "second"
            }
        }
    },
    "patient_status": "Alive and well",
    "source_list_identifiers": [
        {
            "identifier": "ec8a6ff8-ed4b-4f7e-82c3-e98e58b45de7"
        }
    ]
}</code></pre></div></div><% include _templates/foot %>