<% include _templates/head %><div class="row"><div class="col-sm-6"><h2>Schema</h2><pre><code class="json" style="font-size:10px;">{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "type": "object",
    "properties": {
        "identifiers": {
            "type": "array",
            "items": {
            "$ref": "http://local.com/common_models#/properties/cda_id"
        },
        "minItems":1
        },
        "vital": {
            "$ref": "http://local.com/common_models#/properties/cda_coded_entry"
        },
        "status": {
            "type": "string"
        },
        "date_time": {"$ref": "http://local.com/common_models#/properties/cda_date"
        },
        "interpretations": {
            "type": "array",
            "items": {
                "type": "string"
            }
        },
        "value": {
            "type": "number"
        },
        "unit": {
            "type": "string"
        }
    },
    "additionalProperties":false,
    "required":["vital"]
}</code></pre></div><div class="col-sm-6"><h2>Example</h2><pre><code class="json" style="font-size:10px;">{
    "identifiers": [
        {
            "identifier": "c6f88321-67ad-11db-bd13-0800200c9a66"
        }
    ],
    "vital": {
        "name": "Height",
        "code": "8302-2",
        "code_system_name": "LOINC"
    },
    "status": "completed",
    "date_time": {
        "point": {
            "date": "1999-11-14T00:00:00Z",
            "precision": "day"
        }
    },
    "interpretations": [
        "Normal"
    ],
    "value": 177,
    "unit": "cm"
}</code></pre></div></div><% include _templates/foot %>