{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Data Reconciliation Engine API",
        "description": "Handles data services for DRE UI",
        "contact": {
            "url": "http://github.com/amida-tech"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "tags": [
        {
            "name": "account",
            "description": "register, login, logout"
        },
        {
            "name": "history",
            "description": "DRE account history methods"
        },
        {
            "name": "matches",
            "description": "matching components to existing records"
        },
        {
            "name": "merges",
            "description": "reconciling existing and new records"
        },
        {
            "name": "notes",
            "description": "notes added by patient to record"
        },
        {
            "name": "notifications",
            "description": "counts for updates for new record merges"
        },
        {
            "name": "record",
            "description": "manages aspects of master health record"
        },
        {
            "name": "storage",
            "description": "manages files, uploads, downloads"
        }
    ],
    "host": "dre.amida-demo.com:3000",
    "basePath": "/api/v1",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "parameters": {
        "component": {
            "name": "component",
            "in": "path",
            "description": "area of health",
            "type": "string"
        },
        "record_id": {
            "name": "record_id",
            "in": "path",
            "description": "Identifier within component",
            "type": "string"
        },
        "record_index": {
            "name": "record_index",
            "in": "path",
            "description": "Index for entry in record component",
            "type": "string"
        },
        "username": {
            "name": "username",
            "in": "body",
            "description": "username",
            "schema": {
                "$ref": "#/definitions/userSchema"
            }
        }
    },
    "paths": {
        "/account_history": {
            "post": {
                "summary": "Add an event to a user's account history",
                "description": "Save event for register, log in/out, up/download file, lab results, password change, personal information changed",
                "operationId": "addEvent",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "history"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "description": "Event to be added",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/eventSchema"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "event succesfully created and added",
                        "schema": {
                            "$ref": "#/definitions/eventSchema"
                        }
                    }
                }
            }
        },
        "/account_history/all": {
            "get": {
                "summary": "Returns all events in a user's account history",
                "description": "Shows registered, logged in/out, file up/downloaded, lab results received, password changed, info updated",
                "operationId": "allEventsInOrder",
                "tags": [
                    "history"
                ],
                "responses": {
                    "200": {
                        "description": "event history returned",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/eventSchema"
                            }
                        }
                    }
                }
            }
        },
        "/storage": {
            "get": {
                "summary": "Get list of files in patient record",
                "description": "Files and metadata from My Files",
                "operationId": "allFiles",
                "tags": [
                    "storage"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/username"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "files returned",
                        "schema": {
                            "storage": {
                                "type": "array",
                                "items": {
                                    "type": "file"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Uploads a file",
                "description": "Upload, match, merge",
                "operationId": "processUpload",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/username"
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "type": "file"
                    }
                ],
                "tags": [
                    "storage"
                ],
                "responses": {
                    "200": {
                        "description": "file uploaded"
                    },
                    "400": {
                        "description": "error"
                    }
                }
            }
        },
        "/storage/record/{identifier}": {
            "get": {
                "summary": "Downloads a file",
                "description": "Retrieves a specific file for download",
                "operationId": "getSource",
                "tags": [
                    "storage"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/username"
                    },
                    {
                        "name": "identifier",
                        "description": "File indentifier",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "file retrieved",
                        "schema": {
                            "newFile": {
                                "type": "file"
                            }
                        }
                    }
                }
            }
        },
        "/account": {
            "parameters": [
                {
                    "$ref": "#/definitions/userSchema"
                }
            ],
            "get": {
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "Account is authenticated",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Error - account unauthenticated",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/register": {
            "post": {
                "parameters": [
                    {
                        "$ref": "#/definitions/userSchema"
                    }
                ],
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "account created"
                    }
                }
            }
        },
        "/account/login": {
            "post": {
                "parameters": [
                    {
                        "$ref": "#/definitions/userSchema"
                    }
                ],
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "login successful"
                    }
                }
            }
        },
        "/account/logout": {
            "parameters": [
                {
                    "$ref": "#/definitions/userSchema"
                }
            ],
            "post": {
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "logout successful"
                    }
                }
            },
            "get": {
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "logout successful"
                    }
                }
            }
        },
        "/record/demographics": {
            "get": null
        },
        "/record/master": {
            "get": {
                "tags": [
                    "record"
                ],
                "responses": {
                    "200": {
                        "description": "Master record retrieved"
                    }
                }
            }
        },
        "/record/{component}": {
            "get": {
                "tags": [
                    "record"
                ],
                "summary": "View entries for component",
                "parameters": [
                    {
                        "$ref": "#/parameters/component"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "component retrieved"
                    }
                }
            }
        },
        "/matches/{component}/{record_id}": {
            "parameters": [
                {
                    "$ref": "#/parameters/component"
                },
                {
                    "$ref": "#/parameters/record_id"
                }
            ],
            "get": {
                "tags": [
                    "matches"
                ],
                "responses": {
                    "200": {
                        "description": "Get single match API"
                    }
                }
            },
            "post": {
                "tags": [
                    "matches"
                ],
                "responses": {
                    "200": {
                        "description": "Partial record updates"
                    }
                }
            }
        },
        "/matches/{component}/{record_id}/{record_index}": {
            "parameters": [
                {
                    "$ref": "#/parameters/component"
                },
                {
                    "$ref": "#/parameters/record_id"
                },
                {
                    "$ref": "#/parameters/record_index"
                }
            ],
            "post": {
                "tags": [
                    "matches"
                ],
                "responses": {
                    "200": {
                        "description": "Partial record updates"
                    }
                }
            }
        },
        "/merges": {
            "get": {
                "tags": [
                    "merges"
                ],
                "responses": {
                    "200": {
                        "description": "Get all merges"
                    }
                }
            }
        },
        "/merges/{component}": {
            "get": {
                "summary": "Get merges by component",
                "description": "Get merges by component",
                "parameters": [
                    {
                        "$ref": "#/parameters/component"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Merges successful"
                    }
                },
                "tags": [
                    "merges"
                ]
            }
        },
        "/notification": {
            "get": {
                "summary": "All notifications",
                "description": "includes new record count from merge",
                "responses": {
                    "200": {
                        "description": "Notifications counted",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "tags": [
                    "notifications"
                ]
            }
        },
        "/notes": {
            "post": {
                "tags": [
                    "notes"
                ],
                "responses": {
                    "200": {
                        "description": "Note added to account"
                    }
                }
            }
        },
        "/notes/{component}": {
            "post": {
                "tags": [
                    "notes"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/component"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Note added to component"
                    }
                }
            }
        }
    },
    "definitions": {
        "userSchema": {
            "required": [
                "username"
            ],
            "properties": {
                "username": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                }
            }
        },
        "eventSchema": {
            "required": [
                "userID",
                "event_type"
            ],
            "properties": {
                "userID": {
                    "type": "string"
                },
                "event_type": {
                    "type": "string",
                    "enum": [
                        "initAccount",
                        "loggedIn",
                        "loggedOut",
                        "fileUploaded",
                        "fileDownloaded",
                        "labResults",
                        "passwordChange",
                        "infoUpdate"
                    ]
                },
                "note": {
                    "type": "string"
                },
                "fileRef": {
                    "type": "string"
                },
                "time": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        }
    }
}